.partners {
  width: 100%;
  height: 140vh;
  background-color: var(--white);
  color: var(--black);
}

.partners-title {
  font-family: var(--font-2);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--green);
  padding-top: 1.5em;
  padding-bottom: 1em;
  text-transform: uppercase;
}

.partners-subtitle {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 1em;
}

.partners-par {
  font-family: var(--font-2);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.partners-container,
.partners-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.partners-img {
  margin: 4em 1em;
  gap: 40px;
}

/* .partners-img {
  width: 50%;
  margin: 2.5em 6em;
  gap: 35px;
} */

@media (min-width: 1200px) {
  .img-action {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .img-action:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  .partners {
    height: 80vh;
  }

  .partners-title {
    margin: 2em 0 1em 0;
  }

  .partners-subtitle {
    font-size: 40px;
    font-weight: 700;
  }

  .partners-img {
    display: flex;
    flex-direction: row;
    gap: 70px;
  }
}
